/*style for the hole body*/
body{
    background-color:white;
    color: black;
    font-family: Arial;
    font-size: 16px;
    font-weight: 500;
    padding: 2%;
    margin: 15 px;
    
}

/*style used in div*/

.style_1{
    color: cornflowerblue;
    padding: 20%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    background-color: grey;
}
/* title style*/

.title{
    font: menu;
    font-size: 30px;
    font-family: 'Arial';
    padding-left: 0% ;    
    border: 80%;
}
.title:hover{
    color: #4CAF50;
}

/*links style */

a{
    text-decoration: none;
    color: black;
    }

a :link{
    text-decoration : none;
    color: black;
}
/*style categories for li elements*/

.categories li{
    padding-bottom: 6px;
    border-bottom:dotted;
    list-style-image: url('../images/check.png');
}

/*style footer (not used for now)*/

footer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 80px;
    background-color: #4CAF50;
    color: whitesmoke;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
}

/*style for Refresh button (the one under the main table)*/

.button_1{
    background-color: #4CAF50;
    color: white;
    text-align: right;
    transition: 0.3s;
    padding:2px 4px;
    font-size: 25px;
    margin: 2px 4px;
    border: none;
}
.button_1:hover{
    color: black;
    background-color: #dddddd;
}

/*style main table on index.html*/

.table_1{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 700px;
    border-radius: 3px 3px 0 0;
    overflow:hidden;
    box-shadow: 0 0 20 px rgba(0, 0, 0, 0.15);
    align-content: center;
    width: 90%;
}

.table_1 thead tr{
    text-align: left;
    color: white;
    background-color: #4CAF50;
    font-weight: bold;
}

.table_1 th,
.table_1 td{
    padding: 30px 65px;
}

.table_1 tbody tr{
    border-bottom: 1px solid #4CAF50;
    border-right: 1px solid #4CAF50 ;
    border-left: 1px solid #4CAF50;
    border-top:1px solid #4CAF50;
}

.table_1 tbody tr :nth-of-type(even){
    background-color: #f3f3f3;
}

/*style for text elements*/
.text{
    font-size: 30px;
    font-weight: 500;
}



/*CSS Grid style */

/*.my-container {
    border: 1px solid green;
}*/

.my-row_2{
    height: 35px;
}
.my-row_3{
    height: 15px;
}
.my-row_4{
    height: 100px;
}
.my_row_log{
    height: 100px;
}
/* topnavbar style*/

.my-navbar{
    background-color: white;
}
nav :hover{
    color:#4CAF50;
    text-shadow: 0.5px 0.5px;
}
/*Refresh button style*/
.button_2{
    background-color: white;
    border : 1px solid #4CAF50;
}

.my_form{
    text-align : left;
}

/*input style for the table search bar*/

input[type=text] {
    width: 190px;
    -webkit-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    border: 1px solid #4CAF50;
    font-size: 30px;
  }
  
/* When the input field gets focus, change its width to 100% */

  input[type=text]:focus {
    width: 80%;
    border:#4CAF50;
  }

/*all styles necessary for the accordion view*/

.accordion_button{
    display: block;
    width: 100%;
    padding: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #4CAF50;
    color: #ffffff;
    text-align: left;
    transition: background 0.2s;    
}

.accordion_button::after{
    content: '\25be';
    float: right;
    transform: scale(1.5);
}

.accordion_button::after--active{background: #555555;}
.accordion_button::after--active::after {content : '\25b4';}

.accordion_content{
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s;

    padding: 0 30px;
    background: #eeeeee;
    }

/* style for the progress bar in the dynamic table*/

.myBar{
    height: 20px;
}

.myProgress{
    width: 180%;
    background-color: #ddd;
}

#myHead:hover{
    cursor:pointer ;   
}

.toggle:hover{
    transform: scale(1.3);
}

.idpage{
    color : #4CAF50;
    padding-inline-end: 20%;
    text-align-last: center;
    padding : 5%;
    font-size: 50px;
}

h2{
    font-weight: 300;
    font-family: sans-serif;
}